@use '../basics' as *;
@use '../colorPalette' as *;
@use '../mixins' as *;

.icon {
    --icon-color: #{$white};

    @include ctaHover();
    
    display: block;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 5px;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        background-color: var(--icon-color);
        background-blend-mode: color;
        mask-size: contain;
    }

    .home__hero__socialicons & {
        background-color: var(--icon-color);

        &:not(:hover) {
            outline: 5px solid $dark-grey;
            outline-offset: -4px;
        }

        &::after {
            background-color: $dark-grey;
            mask-size: 91%;
            mask-repeat: no-repeat;
            mask-position: center;
        }

        &:hover::after {
            mask-size: 100%;
        }
    }
}