.earth {
    &__container {
        width: 100%;
        height: 80vh;
        position: relative;

        .home__hero & {
            position: absolute;
            bottom: 0;
            overflow: hidden;
            z-index: -1;
            
            & > div {
                position: absolute;
                z-index: -2;
                pointer-events: none;
                bottom: -75%;
                
                @media screen and (min-width: 992px) {
                    bottom: -50%;
                    left: -30%;
                }
            }
        }
    }
}
