@use '../colorPalette' as *;

.marquee {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &__item {
        font-family: 'figtree-italic';
        font-weight: 600;
        color: $pale-green;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        max-width: fit-content;
        line-height: 1.2;
        animation: typing 1s .5s steps(var(--steps), end) forwards, // 1s delay, 2s duration
            unwrite 1s 2.5s steps(var(--steps), end) forwards; // 3.5s delay, 2s duration
        position: relative;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 2px;
            height: 100%;
            background-color: $white;
            animation: blink 0.75s 0s step-end infinite;
        }

        &:not(.active) {
            display: none;
        }
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes unwrite {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    50% {
        border-color: initial;
    }

    to {
        border-color: transparent;
    }
}