@use '../basics' as *;
@use '../colorPalette' as *;
@use '../mixins' as *;

.button {
    @include ctaHover();

    padding: 6px 12px;
    height: fit-content;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'figtree';
    text-decoration: none;

    &__primary {
        border: none;
        background: $pale-green;
        color: $dark-blue;
        font-weight: 500;
    }

    &__secondary {
        border: 1px solid $pale-green;
        background: transparent;
        color: $pale-green;
    }    

    &--fit-content {
        width: fit-content;
    }

    &--centered {
        display: block;
        margin-inline: auto;
    }
}