@use '../basics' as *;
@use '../colorPalette' as *;
@use '../mixins' as *;

.button {
    @include ctaHover();

    padding: 6px 12px;
    height: fit-content;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'figtree';
    text-decoration: none;

    &__secondary {
        border: 1px solid $pale-green;
        background: transparent;
        color: $pale-green;
    }    

    &--fit-content {
        width: fit-content;
    }        
}