@use '../colorPalette' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: content-box;
    max-width: calc(100vw - 32px);
    margin: auto;
    position: sticky;
    top: 0;
    background-color: $dark-blue;
    color: $white;
}