@use '../colorPalette' as *;

.footer {
    background-color: $dark-grey;
    color: $light-grey;
    padding: 20px 16px;
    text-align: center;

    &__content {
        width: var(--content-size);
        margin: auto;
        line-height: 2em;
    }

    &__link {
        color: $pale-green;
        margin-right: 16px;
        text-decoration: none;
        cursor: pointer;
    }
}
