@use '../colorPalette' as *;

.portfolio {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 140px 0 180px;
    background: $dark-grey;

    &__area {
        overflow: hidden;
    }
    
    &__header {
        width: var(--content-size);
        max-width: calc(100vw - 32px);
        margin: auto;
        color: $light-grey;
    }

    &__group {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
    }

    &__list {
        display: flex;
        padding-left: calc(50vw - var(--content-size) / 2);
        height: 100%;
        box-sizing: border-box;
        gap: 16px;
        width: calc(var(--content-size) * var(--project-groups-amount) + (50vw - var(--content-size) / 2) - 32px);

        &-item {
            display: block;
            background: $dark-blue;
            color: $light-grey;
            padding: 16px;
            width: 100%;
            max-width: 100%;
            flex-shrink: 0;
            box-sizing: border-box;
            text-decoration: none;
            display: flex;
            align-items: end;
            aspect-ratio: 3 / 4;
            height: 100%;
            max-height: 30vh;
            
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                background-image: var(--portfolio-item-thumbnail);
                background-size: cover;
                background-repeat: no-repeat;
                mask-image: linear-gradient(black, transparent);
                -webkit-mask-image: linear-gradient(black, transparent);
                -moz-mask-image: linear-gradient(black, transparent);
                -o-mask-image: linear-gradient(black, transparent);
                z-index: -1;
            }

            @media screen and (min-width: 1024px) {
                aspect-ratio: 2 / 1;
            }

            &:nth-child(3),
            &:nth-child(4) {
                transform: translateX(16px);
            }

            &-label {
                
                &-title {
                    display: block;
                    font-weight: 600;
                    
                    @media screen and (min-width: 768px) {
                        // display: block;
                        font-size: 1.5em;
                    }
                }
                
                &-description {
                    color: $pale-green;
                    // display: block;
                    margin-top: 0.5em;
                    display: none;

                    @media screen and (min-width: 768px) {
                        display: block;
                    }
                }
            }
        }
    }
}