@use '../colorPalette' as *;

.portfolio {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 140px 0 180px;
    background: $dark-grey;

    &__area {
        overflow: hidden;
    }
    
    &__header {
        width: var(--content-size);
        max-width: calc(100vw - 32px);
        margin: auto;
        color: $light-grey;
    }

    &__group {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    &__list {
        display: flex;
        min-width: 100vw;
        padding-left: calc(50vw - var(--content-size) / 2);
        height: 100%;
        box-sizing: border-box;
        gap: 16px;
        width: calc(var(--content-size) * var(--project-groups-amount) + (50vw - var(--content-size) / 2) - 32px);

        &-item {
            display: block;
            background: $dark-blue;
            color: $light-grey;
            padding: 16px;
            width: 100%;
            max-width: 100%;
            flex-shrink: 0;
            box-sizing: border-box;
            aspect-ratio: 2 / 1;

            &:nth-child(3),
            &:nth-child(4) {
                transform: translateX(16px);
            }
        }
    }
}