@use '../colorPalette' as *;

.home__hero {
    position: relative;

    &-content {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        height: calc(100vh / 3 * 5);
        padding: 16px;
        box-sizing: content-box;
        max-width: calc(100vw - 32px);
        color: $light-grey;

        @media screen and (width > 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-greet,
    &-scroll {
        width: var(--content-size);
        max-width: calc(100vw - 32px);
        margin: auto;
    }

    &-greet {
        align-self: flex-start;
        font-weight: 100;
        line-height: normal;
        grid-row: 2 / 3;
        font-size: clamp(48px, 8vw, 64px);

        @media screen and (width > 767px) {
            grid-column: 1 / 3;
        }

        @media screen and (width > 991px) {
            font-size: 64px;
            align-self: center;
        }

        h1 {
            margin: 0;
            display: inline;
            font-size: inherit;
        }

        span {
            display: contents;

            &:last-child {
                display: inline-block;
            }

            &::after {
                content: ' ';
            }
        }

        @media screen and (width < 768px) {
            br {
                display: none;
            }
        }

        .marquee__item {
            font-family: 'figtree-italic';
            font-weight: 600;
            color: $pale-green;

            &:not(:first-child) {
                display: none;
            }
        }
    }

    &-scroll {
        text-align: center;
        align-self: center;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        grid-row: 3 / 4;

        @media screen and (width > 768px) {
            grid-column: 1 / 3;
        }

        &:after {
            content: '';
        }

        a {
            display: block;
            width: fit-content;
            margin: 0 auto;
        }

        img {
            animation: bounce ease-in-out 1.5s infinite;
            cursor: pointer;
        }
    }

    &-brief {
        position: relative;
        align-self: end;
        grid-row: 4 / 5;

        @media screen and (width > 768px) {
            width: calc(var(--content-size) * 0.5);
            grid-column: 2 / 3;
        }

        &:after {
            content: '';
            background: $dark-grey;
            position: absolute;
            top: -16px;
            left: -16px;
            width: calc(100% + 16px);
            height: calc(100% + 32px);
            z-index: -1;
            border-radius: 4px;
        }

        &--profile {
            width: 85px;
            height: 85px;
            border-radius: 100%;
            display: none;

            @media screen and (min-width: 768px) {
                display: unset;
            }
        }

        &--title {
            margin: 0;
        }

        div,
        p {
            margin: 0;
        }
    }

    &-night-box {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: -2;

        &:after {
            content: '';
            background-color: #00001f;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }
}

.container__night-sky {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__night-sky canvas.nightSky {
    --circle-speed-coef: 1;
    animation: circle infinite calc(90s * var(--circle-speed-coef, 1)) linear;
    mask-image: radial-gradient(black, transparent);
    -webkit-mask-image: radial-gradient(black, transparent);
}


/* Animations */
@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}