@use '../colorPalette' as *;

.privacy {
    width: var(--content-size);
    max-width: calc(100vw - 32px);
    margin: auto;
    margin-bottom: 80px;
    color: $white;

    li {
        margin-block: 8px;
    }

    * {
        font-weight: normal;
        line-height: normal;
    }

    b {
        font-weight: 500;
    }

    h1, h2 {
        font-weight: bold;
    }
    
    h1 {
        padding-top: 16px;
    }

    h2 {
        padding-top: 80px;
    }
}