@use '../colorPalette' as *;

body:has(main.tree) {
    background-color: $dark-grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    .header,
    .footer {
        display: none;
    }
}

.tree {
    width: 600px;
    max-width: calc(100vw - 32px);
    margin: auto;
    text-align: center;

    ul {
        padding: 16px;
        border-radius: 4px;
        background-color: $dark-blue;
        color: $light-grey;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    li {
        list-style: none;

        a {
            color: $light-grey;
            text-decoration: none;

            &:has(.icon) {
                display: flex;
                align-items: center;
                column-gap: 4px;
                justify-content: center;
                flex-wrap: wrap;

                .icon {
                    width: 32px;
                    position: relative;
                    --icon-color: #{$dark-blue};

                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        // background-color: $light-grey;
                        border-radius: 4px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        &:last-child:nth-child(odd) {
            grid-column: 1 / span 2;
        }
    }

    .social-tech {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li a {
            color: $pale-green;

            i::before {
                background-color: $pale-green;
            }
        }
    }
}