@use '../colorPalette' as *;

.project {
    &-page {
        color: white;
        width: var(--content-size);
        max-width: calc(100vw - 32px);
        margin: auto;

        &__related-projects {
            width: var(--content-size);
            margin-inline: calc(-1 * (100vw - var(--content-size)) / 2);
            background-color: $dark-blue;
            padding: 24px calc((100vw - var(--content-size)) / 2) 48px;
        }
    }

    &__main-image {
        max-width: 100%;
        border-radius: 4px;
        max-height: 25vw;
        object-fit: contain;
        background: transparent;

        @media screen and (min-width: 1024px) {
            object-fit: cover;
            background-color: #151d3c;
        }

        &-logo {
            width: 300px;
            max-width: 100%;
            margin: auto;
            display: block;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__tablet-styled {
        position: relative;
        transform: rotate(-1deg);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: rotate(0deg);
        }

        &::after {
            content: "";
            outline: 1px solid $light-grey;
            outline-offset: 24px;
            width: calc(100% - 48px);
            height: calc(100% - 180px);
            position: absolute;
            top: 88px;
            left: 24px;
            border-radius: 8px;
            z-index: -1;
        }

        iframe {
            width: 1440px;
            height: 900px;
            border: none;
            transform: scale(0.8) translateX(30px);
            transform-origin: left center;
            max-width: calc(125% - 60px);
        }
    }
}