// Fade up animation for when the element is loaded
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Assign fade up animation to all containers and image blocks
.container,
.image:not(.carousel .image),
// Exclude images inside carousels
.carousel {
    animation: fade-up 0.5s ease-in-out forwards;
}

// Bounce animation for scroll down indicator
@keyframes bounce {
    from {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(-10px);
    }
}



// Scroll hand animation
@keyframes scrollHand {
    0% {
        transform: translateY(-20%) translateX(50px) rotateZ(15deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(20%) rotateZ(-5deg);
        opacity: 0;
    }
}

// Scroll arrow animation
@keyframes scrollArrow {
    0% {
        transform: translateY(0%) rotateX(180deg);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translateY(20%) rotateX(180deg);
        opacity: 0;
    }
    51% {
        transform: translateY(20%) rotateX(0deg);
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateY(0%) rotateX(0deg);
        opacity: 0;
    }
}   