// Fade up animation for when the element is loaded
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Assign fade up animation to all containers and image blocks
.container,
.image:not(.carousel .image),
// Exclude images inside carousels
.carousel {
    animation: fade-up 0.5s ease-in-out forwards;
}

// Bounce animation for scroll down indicator
@keyframes bounce {
    from {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(-10px);
    }
}


.scroll--down img {
    animation: bounce ease-in-out 1.5s infinite;
    cursor: pointer;
}