@use './colorPalette' as *;
@use './mixins' as *;

// Mobile & tablet
:root {
    --content-size: calc(100vw - 32px);
}

@media screen and (min-width: 1232px) {

    // Desktop
    :root {
        --content-size: 1200px;
    }
}

html {
    scroll-behavior: smooth;
    /* This makes all links scroll smoothly */
}

body {
    margin: 0;
    font-family: 'figtree';
    font-size: 16px;
    font-weight: 100;
    background-color: $dark-grey;
}

.flex-direction {
    display: flex;
    gap: 16px;

    &-mobile {
        &-horizontal {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }

        &-vertical {
            flex-direction: column;
        }
    }

    @media screen and (min-width: 992px) {
        &-desktop {
            &-horizontal {
                flex-direction: row;
            }

            &-vertical {
                flex-direction: column;
            }
        }
    }
}

.grid {
    @media screen and (max-width: 991px) {
        &-mobile {
            display: grid;
            gap: 16px;

            &-2-cols {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include grid-positioning(1, 4);
        }
    }

    @media screen and (min-width: 992px) {
        &-desktop {
            display: grid;
            gap: 16px;

            @for $cols from 2 through 12 {
                &-#{$cols}-cols {
                    grid-template-columns: repeat($cols, minmax(0, 1fr));
                }
            }

            @include grid-positioning();
        }
    }
}


.container {
    margin-top: 16px;

    @media screen and (min-width: 992px) {
        margin-top: 0;
    }

    &.area-fullwidth {
        width: 100vw;
        margin-left: calc(-1 * (100vw - var(--content-size)) / 2);
        margin-right: calc(-1 * (100vw - var(--content-size)) / 2);
        background-color: $pale-green;
        min-height: 300px;
        padding: 0;
        aspect-ratio: 21 / 9;

        .project__mockup-image-fullwidth {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.align {
    &-vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        > * {
            margin: 0;
        }
    }

    &-horizontal-center {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        > * {
            margin: 0;
        }
    }
}

.no-margin-up {
    margin-top: 0;
}