@use './colorPalette' as *;

// Mixin for generating grid positioning classes
@mixin grid-positioning($min: 1, $max: 12) {
    @for $i from $min through $max {
        @for $j from $min through $max {
            &-#{$i}-#{$j} {
                grid-column: #{$i} / #{$j + 1};
            }
        }
    }
}

// CTA behavior for buttons and links
@mixin ctaHover() {
    outline: 2px solid;
    outline-color: transparent;
    outline-offset: 0;
    transition: all .05s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline-color: var(--icon-color);
        outline-offset: 3px;
    }
}


// Linear gradient mask for portfolio items
$linear-gradient-mask: linear-gradient(black 25%, transparent 100%);

@mixin portfolioItemStyle() {
    display: block;
    color: $light-grey;
    padding: 16px;
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    align-items: end;
    height: 100%;
    max-height: 33vh;
    position: relative;
    border-radius: 8px;
    z-index: -2;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-image: var(--portfolio-item-thumbnail);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        mask-image: $linear-gradient-mask;
        -webkit-mask-image: $linear-gradient-mask;
        -moz-mask-image: $linear-gradient-mask;
        -o-mask-image: $linear-gradient-mask;
        z-index: -1;
        pointer-events: none;
    }
}

// Arrow mixin for navigation arrows
@mixin arrow {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: 0;
    border-style: solid;
    border-width: 2px 0 0 2px;
}